:root {
    /* Font Family  */
    --font-family: "Poppins", sans-serif;
    --logo-font-family: "Volkhov", serif;
  
    /* Colors  */
    --gray-text: #8b888899;
    --light-shade-gray: #efefef;
    --dark-shade-gray: #e4e4e4;
    --yellow: #ffe26d;
    --purple: #61497b;
    --dark-purple: #3d2a52;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: var(--font-family);
    scroll-behavior: smooth;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  /* ___________________________________________ Home ___________________________________________  */
  #home {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  
  
  .img2 {
    background: url("../img/doctor1.png");
  }
 
  
  .home-carousel-img {
    min-height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -999;
  }
  
  .home {
    width: 60%;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 10rem;
  }
  
  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-logo {
    flex-basis: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: #fff;
    font-family: var(--logo-font-family);
    letter-spacing: 2px;
  }
  
  .navlinks {
    flex-basis: 70%;
    display: flex;
    justify-content: space-between;
  }
  
  .navlink {
    text-decoration: none;
    color:#fff;
    cursor: pointer;
    transition: 0.2s linear;

  }

  .navlink:hover {
    color: #FFFFFF !important;
    
}
  
  #toogle {
    display: none;
    cursor: pointer;
  }
  
  .nav-logo-text {
    cursor: pointer;
  }
  
  .navlink:hover {
    transform: translateY(-3px);
  }
  
  .home-content {
    min-height: 35vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:#fff;
  }
  
  .home-head-text {
    font-size: 3rem;
    letter-spacing: 2px;
    word-spacing: 3px;
    line-height: 3.5rem;
  }
  
  .home-sub-text {
    opacity: 0.75;
    word-spacing: 2px;
    width: 75%;
    font-size: 1.1rem;
  }
  
  .home-btn {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    min-height: 2.5rem;
    width: 7rem;
    color: #000;
    background-color: var(--yellow);
    transition: 0.3s ease-in-out;
  }
  
  .home-btn:hover {
    background-color: var(--purple);
    color: #fff;
  }
  
  /* ___________________________________________ Welcome ___________________________________________  */
  
  #section-2{
    background-color:#efefef;
    
  }
  
  
  .welcome-text {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    cursor: default;
    color: var(--dark-purple);
    text-align: center;
  }
  
  
   /* ___________________________________________ about ___________________________________________  */
/* General styles */
body {
  font-family: Arial, sans-serif; 
  margin: 0;
  padding: 0;
}

/* Section styles */
#welcome {
  text-align: center; 
  padding: 20px;
}

/* Welcome text styles */
.welcome-text h1 {
  color:var(--dark-purple);
}

/* About info styles */
.about-info {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInSlideIn 1s ease-out forwards; 
}

/* Profile image styles */
.profile-img img {
  padding-left: 120px;
  border-radius: 20%; 
  max-width: 100%; 
  height: auto;
  opacity: 0;
  transform: translateX(-20px);
  animation: fadeInSlideIn 1s ease-out 0.5s forwards; 
}

/* Text styles with animation */
.text p {
  padding-right: 100px;
  font-size: 18px;
  color: #333;
  font-family:Arial, Helvetica, sans-serif;
  text-align: justify;
  letter-spacing: 0.5px;
  max-width: 600px; 
  opacity: 0; 
  animation: fadeInSlideIn 2s ease-out 1s forwards; 
}

/* Combined fade-in and slide-in animation */
@keyframes fadeInSlideIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Responsive design */
@media (max-width: 768px) {
  .about-info {
      flex-direction: column;
      text-align: center; 
  }

  .profile-img img {
      margin-bottom: 15px; 
  }
}


  /* ___________________________________________ doctors ___________________________________________  */
  #doctors {
    min-height: 120vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #49517b40;
  }
  
  .doctors {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }
  
  .doctor-text {
    font-size: 1.5rem;
    color: var(--dark-purple);
  }
  
  .doctor-card {
    width: 23vw;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.2s ease-in-out;
  }
  
  .pc-light {
    background-color: var(--light-shade-gray);
  }
  .pc-dark {
    background-color: var(--dark-shade-gray);
  }
  
  .doctor-image {
    
    float: left;
  }
  
  .doctor-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .doctor-desc {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    transition: 0.2s ease-in-out;
  }
  .doctor-desc h3 {
    font-size: 1rem;
    color: var(--purple);
  }
  .doctor-desc p {
    font-size: 0.8rem;
    color: var(--dark-purple);
  }
  
  .launch-case-study {
    text-decoration: none;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 10rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .doctor-card:hover {
    background-color: var(--gray-text);
    cursor: pointer;
  }
  .doctor-card:hover p {
    color: #fff;
    font-weight: 500;
  }
  
  .doctor-card:hover .launch-case-study {
    background-color: var(--purple);
    color: #fff;
  }
  .contact-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .icon {
    margin-right: 5px;
    color: #3498db; /* You can change the color to your preference */
  }
  
  
  /* ___________________________________________ Video doctors ___________________________________________  */
  #video-doctors {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 4rem 2rem;
    background-color: var(--purple);
  }
  
  .vps {
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .video-doctor-title {
    color:#3d2a52;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
  .video-doctors {
    min-height: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .vp {
    transition: 0.4s ease-in-out;
  }
  
  .vp:hover {
    transform: translateY(-1rem);
  }
  /* ___________________________________________ service Team ___________________________________________  */
  #service-team {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 3rem;
  }
  .service-team {
    width: 85%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 3rem;
  }
  
  .service-head {
    font-size: 1.5rem;
    color: var(--dark-purple);
    letter-spacing: 1px;
  }
  
  .service-team-members {
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 3rem;
  }
  
  .why-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .why-card {
    width: 11rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 1rem;
  }
  
  .why-img {
    min-height: 10rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .why-social-icon {
    display: none;
  }
  
  .why-img-1 {
    background: url("../img/Why/appointment.jpg") no-repeat;
    background-size: cover;
    border-radius: 50%;
  }
  
  .why-img-1:hover {
    background: linear-gradient(
        to right,
        rgba(97, 73, 123, 0.5),
        rgba(97, 73, 123, 0.6)
      ),
      url("../img/Why/appointment.jpg") no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  
  .why-img:hover .why-social-icon {
    width: 85%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
  }
  .why-social-icon .why-fab:hover {
    color: #fff;
    transform: translateY(-5px);
  }
  
  .why-social-icon a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }
  
  .why-img-2 {
    background: url("../img/Why/telemedicine.jpg");
    background-size: cover;
    border-radius: 50%;
  }
  .why-img-2:hover {
    background: linear-gradient(
        to right,
        rgba(97, 73, 123, 0.5),
        rgba(97, 73, 123, 0.6)
      ),
      url("../img/Why/telemedicine.jpg") no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .why-img-3 {
    background: url("../img/Why/patientportal.jpg");
    background-size: cover;
    border-radius: 50%;
  }
  .why-img-3:hover {
    background: linear-gradient(
        to right,
        rgba(97, 73, 123, 0.5),
        rgba(97, 73, 123, 0.6)
      ),
      url("../img/Why/patientportal.jpg") no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .why-img-4 {
    background: url("../img/Why/healthinfo.jpg");
    background-size: cover;
    border-radius: 50%;
  }
  .why-img-4:hover {
    background: linear-gradient(
        to right,
        rgba(97, 73, 123, 0.5),
        rgba(97, 73, 123, 0.6)
      ),
      url("../img/Why/healthinfo.jpg") no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .why-img-5 {
    background: url("../img/Why/multisup.jpg");
    background-size: cover;
    border-radius: 50%;
  }
  .why-img-5:hover {
    background: linear-gradient(
        to right,
        rgba(97, 73, 123, 0.5),
        rgba(97, 73, 123, 0.6)
      ),
      url("../img/Why/multisup.jpg") no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .why-img-6 {
    background: url("../img/Why/prescription.jpg");
    background-size: cover;
    border-radius: 50%;
  }
  .why-img-6:hover {
    background: linear-gradient(
        to right,
        rgba(97, 73, 123, 0.5),
        rgba(97, 73, 123, 0.6)
      ),
      url("../img/Why/prescription.jpg") no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .why-img img {
    width: 100%;
    border-radius: 50%;
  }
  
  .why-desc {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .why-name {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--dark-purple);
  }
  .why-role {
    font-size: 0.8rem;
    font-weight: 500;
    opacity: 0.5;
  }
  
  
  /* ___________________________________________ Blog  ___________________________________________  */
  #blog {
    background-color: #49517b40;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
  }
  
  .blog {
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2.5rem;
  }
  
  .blog-head {
    color: var(--dark-purple);
    font-size: 1.5rem;
    cursor: default;
  }
  
  .blog-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .bc {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.2rem;
  }
  
  .bc-img-1,
  .bc-img-2,
  .bc-img-3 {
    min-height: 10rem;
    width: 15rem;
  }
  
  .bc-img-1 {
    background: url("/img/Blog/blog1.jpg");
    background-size: cover;
  }
  
  .bc-img-2 {
    background: url("/img/Blog/blog2.jpg");
    background-size: cover;
  }
  .bc-img-3 {
    background: url("/img/Blog/blog3.jpg");
    background-size: cover;
  }
  .bc-text {
    padding: 0 3rem;
  }
  .bc-head {
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  .bc-date {
    padding: 0.4rem 0;
    font-weight: 600;
    color: #0000004d;
  }
  .bc-desc {
    font-size: 0.7rem;
  }
  .bc-read-more-btn {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 2rem;
    width: 7rem;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: var(--dark-shade-gray);
    color: var(--purple);
    transition: 0.2s ease-in-out;
  }
  
  .bc-read-more-btn:hover {
    background-color: var(--yellow);
    color: var(--dark-purple);
  }
  
  /* ___________________________________________ appointment ___________________________________________  */
  #contact {
    min-height: 650.6px;
    width: 100vw;
    display: flex;
  }
  .contact {
    width: 100%;
    display: flex;
    background-color:whitesmoke;
    justify-content: space-between;
  }
  .contact-cont {
    padding: 3rem;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  
  .contact-head {
    font-size: 1.5rem;
    color: var(--dark-purple);
    
  }
  
  
  .contact-form form {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }
  
  .cf {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  
  .cf label {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--dark-purple);
  }
  
  .cf input {
    height: 2rem;
    border: none;
    border-radius: 5px;
    margin-left: 0.1rem;
  }
  
  .cf textarea,
  .cf button {
    border: none;
    border-radius: 5px;
    margin-left: 0.1rem;
  }
  
  .cf button {
    min-height: 2.5rem;
    letter-spacing: 1px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: var(--purple);
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .cf button:hover {
    background-color: var(--light-shade-gray);
    border: 2px solid var(--purple);
    color: var(--purple);
    font-weight: 600;
  }
  
  /* ___________________________________________ Footer  ___________________________________________  */
  #footer {
    min-height: 30vh;
    width: 100vw;
    background-color: var(--light-shade-gray);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  
  .fo {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 1rem;
    cursor: default;
  }
  
  .fo-fol-content {
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
    padding-top: 0.3rem;
  }
  
  .fo-add-content p,
  .fo-p {
    font-size: 0.8rem;
    font-weight: 500;
  }
  
  .fo-add-content a {
    text-decoration: none;
    color: #000;
  }
  
  .fo-con-content a:hover,
  .fo-add-content a:hover {
    color: var(--purple);
  }
  
  .fo-row-1,
  .fo-row-2 {
    display: flex;
    justify-content: space-between;
  }
  
  .fo-row-1 a,
  .fo-row-2 a {
    text-decoration: none;
    color: #000;
  }
  
  .fab {
    font-size: 1.3rem;
    cursor: pointer;
  }
  
  .fab:hover {
    color: var(--purple);
  }
  
  .fo-con-content a {
    text-decoration: none;
    color: #000;
  }
  
  /* ________________________________________________________________________________ 
                                              Media Query
   ________________________________________________________________________________  */
  
  /* ipad */
  @media only screen and (max-width: 800px) {
  }
  /* iphonex */
  @media only screen and (max-width: 500px) {
  }
  /* ___________________________________________ Home ___________________________________________  */
  /* ipad */
  @media only screen and (max-width: 800px) {
    .home {
      width: 75%;
    }
    .navlinks {
      flex-basis: 65%;
    }
  
    .home-content {
      min-height: 30vh;
      width: 85%;
    }
  
    .home-head-text {
      font-size: 2.3rem;
    }
  
    .home-sub-text {
      width: 90%;
    }
  }
  /* iphonex */
  @media only screen and (max-width: 500px) {
    .navbar {
      flex-direction: column;
    }
    .navlinks {
      display: none;
    }
  
    /* .navbar:target .nav-logo-text:target .navlinks {
      display: block;
      overflow: hidden;
    } */
  
    #toogle:checked + .navlinks {
      display: flex;
      flex-direction: column;
    }
  
    .home-content {
      min-height: 40vh;
      width: 100%;
      justify-content: space-evenly;
    }
    .home-head-text {
      line-height: 2.2rem;
      font-size: 1.2rem;
    }
    .home-sub-text {
      font-size: 0.8rem;
    }
  }
  /* ___________________________________________ Welcome ___________________________________________  */
  /* ipad */
  @media only screen and (max-width: 800px) {
    .welcome {
      min-height: 90vh;
      width: 95%;
      justify-content: space-around;
    }
    .wb-text {
      flex-basis: 60%;
    }
  
    .wc {
      flex-basis: 30%;
      justify-content: space-around;
    }
  }
  /* iphonex */
  @media only screen and (max-width: 500px) {
    .welcome {
      row-gap: 2rem;
    }
  
    .welcome-text {
      font-size: 1rem;
    }
  
    .welcome-brief {
      flex-direction: column-reverse;
      row-gap: 1rem;
    }
    .wb-img {
      text-align: center;
    }
    .wb-img img {
      width: 50%;
    }
  
    .welcome-cards {
      flex-direction: column;
      row-gap: 3rem;
    }
  }
  /* ___________________________________________ doctors ___________________________________________  */
  /* ipad */
  @media only screen and (max-width: 800px) {
    #doctors {
      row-gap: 3rem;
    }
  
    .doctors {
      flex-direction: column;
      row-gap: 3rem;
      padding-bottom: 3rem;
    }
  
    .doctor-card {
      width: 60vw;
    }

   
  }
  /* iphonex */
  @media only screen and (max-width: 500px) {
    #doctors {
      padding-top: 3rem;
    }
  
    .doctor-card {
      width: 93vw;
    }
  }
  /* ___________________________________________ pricing ___________________________________________  */
  /* ipad */
  @media only screen and (max-width: 800px) {
    .pricing {
      width: 90%;
      row-gap: 3rem;
    }
    .pt {
      min-height: 25vh;
      width: 30vw;
    }
  }
  /* iphonex */
  @media only screen and (max-width: 500px) {
    .pricing-table {
      flex-direction: column;
      row-gap: 1.5rem;
    }
    .pt {
      width: 75vw;
      border: none;
      border-bottom: 2px solid var(--dark-shade-gray);
    }
  }
  /* ___________________________________________ Video doctors ___________________________________________  */
  @media only screen and (max-width: 1440px) {
    .video-doctors {
      flex-direction: column;
      align-items: center;
      row-gap: 3rem;
    }
  }
  
  @media only screen and (max-width: 800px) {
    /* .video-doctors {
      flex-direction: column;
      align-items: center;
      row-gap: 3rem;
    } */
    .vps {
      row-gap: 3rem;
    }
  }
  /* iphonex */
  @media only screen and (max-width: 500px) {
    .vp iframe {
      width: 304px;
      height: 171px;
    }
  }
  /* ___________________________________________ service Team ___________________________________________  */
  /* ipad */
  @media only screen and (max-width: 800px) {
    .service-team {
      row-gap: 0;
      width: 100%;
      justify-content: space-around;
    }
    .service-team-members {
      width: 100%;
    }
  }
  /* iphonex */
  @media only screen and (max-width: 500px) {
    .service-team {
      row-gap: 3rem;
    }
  
    .why-row {
      flex-direction: column;
      row-gap: 3rem;
    }
  }
  
  /* ___________________________________________ Blog  ___________________________________________  */
  /* ipad */
  @media only screen and (max-width: 800px) {
    .blog-cards {
      flex-direction: column;
      row-gap: 3rem;
    }
  }
  /* iphonex */
  @media only screen and (max-width: 500px) {
    .bc-text {
      padding: 0 1rem;
    }
  }
  
  /* ___________________________________________ Contact  ___________________________________________  */
  /* ipad */
  @media only screen and (max-width: 1024px) {
    .contact {
      flex-direction: column-reverse;
      background-color: transparent;
      align-items: center;
      /* row-gap: 2rem; */
    }
    .contact-form {
      width: 100%;
    }
    .contact-cont {
      width: 100%;
      align-items: center;
      background-color: var(--yellow);
    }
  
    .contact-form form {
      width: 100%;
      align-items: center;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .map iframe {
      height: 500px;
      width: 500px;
    }
  }
  /* iphonex */
  @media only screen and (max-width: 500px) {
    .cf {
      width: 100%;
    }
    .map iframe {
      height: 500px;
      width: 375px;
    }
  }

  .main-btn {
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
  }
  
   .main-btn:hover {
    background: #11dbcf;
    border: 2px solid #11dbcf;
    text-decoration: none;
    color:#fff;
  }
 .form-group .btn-form{
  background: #11dbcf;
  border: 2px solid #11dbcf;
  text-decoration: none;
  color:#000;
 }

 .form-image {
  width: 48%;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
  
  /* ___________________________________________ Footer  ___________________________________________  */
  /* ipad */
  @media only screen and (max-width: 800px) {
    .footer {
      width: 75%;
    }
  }
  /* iphonex */
  @media only screen and (max-width: 500px) {
    .footer {
      flex-direction: column;
      row-gap: 3rem;
      padding: 4rem 0;
    }
    .fo-follow-us {
      align-items: center;
    }
  
    .fo-fol-content {
      width: 60%;
    }
  }
  
  .hide {
    display: none;
  }
  